<footer class="mt-auto bg-primary">
    <div class="container ">
        <div class="d-flex justify-content-center">
            <p>Apesoa Martinez, Martin - Legajo 48165</p>
        </div>
    </div>
</footer>