<div class="container-fluid">
    <div class="row">
        <div class="card col-12">
            <div class="row">
                <h3>Archivos</h3>
            </div>
            <div class="row">
                <span>
                    <img src="/resources/pdf.png" height="50px" width="50px"></img>
                    <a href="https://drive.google.com/file/d/1XyomGLE3CjvDszka-iqbNMTZ7r7rAnqp/view?usp=sharing">Informe de desarrollo</a>
                </span>
            </div>
        </div>
    </div>
</div>