<div class="col-12">
    {{#each comments}}
        <div class="row">
            <div class="card comment">
                <div class="row">
                    <span>
                        <span class="comment-name">{{nombre}}</span>
                        <span class="comment-date">{{date}}</span>
                    </span>
                </div>
                <div class="row">
                    {{texto}}
                </div>
            </div>
        </div>
    {{/each}}
    {{#unless comments}}
    <div class="alert alert-danger">
        <strong>Error</strong> Error al acceder a los comentarios.
    </div>
    {{/unless}}
</div>