<form id="newComment" action="/addComment" method="post">
    <div class="row">
        <label>Nombre:</label>
        <input type="text" name="nombre" id="commentName"/>
    </div>
    <div class="row">
        <label>Texto:</label>
        <textarea name="texto" id="commentText" rows="3" resize="none"></textarea>
    </div>
    <div class="row justify-content-end">
        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary">Comentar</button>
        </div>
    </div>
</form>